extends layout


block content
  h1= title
  script(type="text/javascript").
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("teamTable");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc"; 
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;      
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  //- script(src='/javascripts/jquery.js') 
  p Welcome to #{title}

  div 
    table#teamTable
      thead
        tr
          th(onclick="sortTable(0)") Team 
          th Points
          th Opp Points
          th Effiiency
          th Percentages
          th Reb D/O/T
          th Assists
          th Defense St/Bl
      tbody
        each team in statsArr
          tr
            td
              a(href=team.url) 
                span #{team.fullName}
            td
              span #{team.ppg.avg} {#{team.ppg.rank}}
            td
              span #{team.oppg.avg} {#{team.oppg.rank}}
            td
              span #{team.eff.avg} {#{team.eff.rank}}
            td
              span #{team.fgp.avg} {#{team.fgp.rank}} / #{team.ftp.avg} {#{team.ftp.rank}} / #{team.tpp.avg} {#{team.tpp.rank}}
            td
              span #{team.drpg.avg} {#{team.drpg.rank}} / #{team.orpg.avg} {#{team.orpg.rank}} / #{team.trpg.avg} {#{team.trpg.rank}}
            td
              span #{team.apg.avg} {#{team.apg.rank}}
            td
              span #{team.spg.avg} {#{team.spg.rank}} / #{team.bpg.avg} {#{team.bpg.rank}}
  
